# SPDX-FileCopyrightText: 2022 Benedikt Fein
#
# SPDX-License-Identifier: CC0-1.0

root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.py]
indent_size = 4
indent_style = space
max_line_length = 88

[Makefile]
indent_style = tab
