# SPDX-FileCopyrightText: 2022 Benedikt Fein
#
# SPDX-License-Identifier: EUPL-1.2

name: CI
on: [push, pull_request]

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.12", "3.13"]
        os: ["ubuntu-latest"]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install the project
        run: uv sync --all-extras --dev

      - name: Check imports with isort
        run: uv run isort --check-only . --profile black

      - name: Check formatting
        run: uv run ruff format --diff --check .

      - name: Check typing with mypy
        run: uv run mypy src tests

      - name: Linting with ruff
        run: uv run ruff check .

      - name: Check docstrings with darglint
        run: uv run darglint2 -s sphinx -v 2 src/**/*.py

      - name: Run tests
        run: uv run pytest --cov=src --cov=tests --cov-branch --cov-report=term-missing tests/

      - name: Check reuse
        run: uv run reuse lint
